# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
.venv/
.venv_old/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Media
audio_samples/

# Local Cache
.cache/
